html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.slide-in-bottom {
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-14 3:35:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body,
html,
p,
ul,
h1,
h2,
h3,
h4,
button {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  color: #171716;
  font-size: 1.6rem;
  background-color: #fafafa;
}

.headerWrapper, .bodyWrapper {
  max-width: 1400px;
  width: 79%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
  display: block;
}

h2, h3, h4 {
  line-height: normal;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 8rem;
  letter-spacing: 0.5rem;
  transition: all 0.5s;
  font-weight: 800;
  text-align: center;
  z-index: 2;
  position: relative;
  color: #c9a04f;
  margin-bottom: 30px;
}

h3 {
  font-family: "Lovers Quarrel", cursive;
  color: #c9a04f;
  font-size: 6.5rem;
  font-weight: 400;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

p {
  line-height: 2;
}

header {
  min-height: 100vh;
  background-image: url("../assets/newbg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .headerTop {
  background: #000;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 64px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav img {
  cursor: pointer;
}
header .hamburger {
  background-color: #c9a04f;
  width: 90px;
  height: 64px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .hamburger .line {
  width: 40px;
  height: 3px;
  background-color: white;
  display: block;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}
header .hamburger:hover {
  cursor: pointer;
}
header .hamburger.is-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
}
header .hamburger.is-active .line:nth-child(2) {
  width: 0px;
}
header .hamburger.is-active .line:nth-child(1),
header .hamburger.is-active .line:nth-child(3) {
  transition-delay: 0.3s;
}
header .hamburger.is-active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}
header .hamburger.is-active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}
header ul {
  display: flex;
  text-align: center;
}
header ul a {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  display: inline-block;
  height: 100%;
  width: 90px;
  line-height: 64px;
  color: white;
  transition: all 0.2s;
}
header .headerBottom {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 64px;
  padding-left: 50px;
  perspective: 400px;
  transform-style: preserve-3d;
}
header .headerBottom:hover h1 {
  transform: rotateY(0);
}
header .headerBottom:hover a {
  transform: translateZ(0);
}
header .headerBottom h1 {
  transform: rotateY(20deg);
  transform-style: preserve-3d;
  color: #fafafa;
  transition: transform 1s;
}
header .headerBottom h1 span {
  display: block;
}
header .headerBottom h1 a {
  display: inline-block;
  transition: transform 1s;
  color: #c9a04f;
}

.notActive {
  background-color: none;
}
.notActive:hover, .notActive:focus {
  color: #c9a04f;
}

.theActive {
  background-color: #c9a04f;
  color: #fff;
}
.theActive:hover, .theActive:focus {
  color: #fff;
}

/***************************
PAGE LOADER
****************************/
.container-loader-pre {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #171716;
  z-index: 11111112;
  display: flex;
  align-items: center;
  color: #757474;
  visibility: visible;
  opacity: 1;
}
.container-loader-pre div {
  width: 100%;
  text-align: center;
}
.container-loader-pre p {
  margin: 40px 0;
}

.title-loading {
  font-size: 10px !important;
}

.icofont-audio {
  font-size: 20px;
}

.titles-loader {
  width: 100%;
  text-align: center;
}

.loader {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}

.loader2 {
  margin: 0 auto;
}

.container-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #171716;
  z-index: 11111111;
}

.loader_line {
  height: 2px;
  background-color: #FFF;
  z-index: 111111;
  position: absolute;
}

section {
  min-height: 100vh;
}
section:not(:last-child) {
  margin-bottom: 120px;
}

.aboutTop {
  text-align: center;
}

.shadow {
  position: relative;
  top: 90px;
  opacity: 1;
  font-size: 15rem;
  font-weight: 800;
  letter-spacing: 0.5rem;
  color: #ededed;
  z-index: 0;
  transition: all 1.5s;
  text-align: center;
  display: block;
}

.aboutInfo {
  display: flex;
}

.aboutImg {
  width: calc(30% - 50px);
  margin-right: 50px;
}
.aboutImg .abirPicBorder {
  position: relative;
  z-index: 1;
  max-width: 230px;
}
.aboutImg .abirPicBorder::before {
  border: 10px solid #c9a04f;
  display: inline-block;
  position: absolute;
  z-index: -1;
  top: 0;
  content: "";
  transform: translate(30px, 30px);
  width: 90%;
  height: 100%;
}
.aboutImg img {
  width: 90%;
}

.aboutText {
  width: calc(70% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  margin-top: 40px;
  background: #c9a04f;
  font: inherit;
  font-weight: 500;
  color: #fff;
  border: none;
  width: 145px;
  height: 40px;
  cursor: pointer;
  position: relative;
}
button::before {
  content: attr(data-text);
  width: 100%;
  height: 100%;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  transform-origin: bottom;
  text-transform: uppercase;
  transform: translateY(-100%) rotateX(90deg);
  color: #c9a04f;
  border: solid 1px #c9a04f;
  background-color: #faf6ed;
}
button:hover::before, button:focus::before {
  transform: translateY(0) rotateX(0deg);
}
button::after {
  content: attr(data-text);
  width: 100%;
  height: 100%;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  transform-origin: top;
  text-transform: uppercase;
  transform: translateY(0) rotateX(0deg);
  background-color: #c9a04f;
}
button:hover::after, button:focus::after {
  transform: translateY(100%) rotateX(90deg);
}

.darkBg {
  background: #262623;
}
.darkBg .shadow {
  color: #42423e;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}
.skillsList p {
  visibility: hidden;
  transition: all 0.2s ease;
}
.skillsList li {
  width: calc(100% / 6);
  height: 150px;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.skillsList li img {
  width: 70px;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}
.skillsList li img:hover {
  transform: scale(1.1);
}
.skillsList li img:hover + p {
  visibility: visible;
  transform: scale(1.1);
}
.skillsList i {
  font-size: 7rem;
  color: #c9a04f;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}
.skillsList i:hover {
  transform: scale(1.1);
}
.skillsList i:hover + p {
  visibility: visible;
  transform: scale(1.1);
}

.projectTypes {
  justify-content: center;
  display: flex;
}
.projectTypes ul {
  justify-content: center;
  font-family: "Comfortaa", cursive;
  display: flex;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px 0px rgba(26, 42, 65, 0.1);
}
.projectTypes ul a {
  padding: 15px 30px;
}
.projectTypes ul a.active {
  color: #fff;
}

.projects {
  display: flex;
  margin-bottom: 50px;
  border: 1px solid #f1f1f1;
  padding: 30px;
  align-items: center;
}

.projectActive {
  background-color: #c9a04f;
  color: #fff;
}
.projectActive:hover, .projectActive:focus {
  color: #fff;
}

.projectImg {
  width: 400px;
  position: relative;
  cursor: pointer;
}
.projectImg span {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  font-size: 3rem;
  width: 0;
  height: 100%;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  left: 0;
}
.projectImg span:last-child {
  right: 0;
  left: auto;
  justify-content: flex-start;
}
.projectImg span a {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.projectImg span a:hover, .projectImg span a:focus {
  border: 2px solid #c9a04f;
  color: #c9a04f;
}
.projectImg:hover span {
  width: 50%;
  opacity: 1;
}

.projectInfo {
  width: calc(100% - 400px);
  margin-left: 30px;
}
.projectInfo h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.projectInfo h4 {
  font-size: 1.6rem;
  margin-right: 10px;
  margin-bottom: 0;
}
.projectInfo p:last-of-type {
  margin-bottom: 20px;
}
.projectInfo .projectsLinks {
  color: #c9a04f;
  font-weight: 600;
}
.projectInfo .projectsLinks:hover, .projectInfo .projectsLinks:focus {
  text-decoration: underline;
}
.projectInfo ul {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
.projectInfo ul li {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectInfo ul li:not(:last-child) {
  margin-right: 20px;
}
.projectInfo ul li:hover p, .projectInfo ul li:focus p {
  visibility: visible;
}
.projectInfo ul li img {
  width: 25px;
  display: inline-block;
}
.projectInfo ul li p {
  visibility: hidden;
  font-size: 1.3rem;
}
.projectInfo i {
  font-size: 2.5rem;
  position: relative;
}
.projectInfo i::after {
  font-size: 1.6rem;
  position: absolute;
  top: 30px;
  left: -50%;
  display: inline-block;
  width: 30px;
}
.projectInfo i:hover::after, .projectInfo i:focus::after {
  content: attr(data-text);
}

.tools {
  display: flex;
  margin-bottom: 20px;
}
.tools.links li {
  width: auto;
}
.tools p {
  margin-bottom: 0;
}

#contact {
  background-image: linear-gradient(rgba(38, 38, 35, 0.9), rgba(38, 38, 35, 0.9)), url("../assets/map_img.png");
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.contactInfo {
  width: calc(50% - 40px);
}
.contactInfo > * {
  margin-bottom: 40px;
}
.contactInfo h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
}
.contactInfo i {
  color: #c9a04f;
  font-size: 2.7rem;
  width: 40px;
  display: inline-block;
}
.contactInfo a,
.contactInfo span {
  color: #fff;
  font-family: "Comfortaa", cursive;
}
.contactInfo a:hover,
.contactInfo a:focus {
  color: #c9a04f;
}

.socialMedia {
  display: flex;
}
.socialMedia li {
  margin-right: 20px;
}
.socialMedia li a:hover i,
.socialMedia li a:focus i {
  transform: rotateY(360deg);
  color: #c9a04f;
}
.socialMedia li i {
  color: #b3b3b3;
  transition: all 0.4s;
  display: inline-block;
}

form {
  width: calc(50% - 40px);
  display: flex;
  flex-direction: column;
}
form > * {
  margin-bottom: 15px;
}
form input,
form textarea {
  border: 1px solid #575152;
  padding: 10px;
  background-color: transparent;
  color: #c9a04f;
  transition: all 0.3s;
  box-shadow: none;
  overflow-y: auto;
}
form input:focus,
form textarea:focus {
  box-shadow: 0 0 10px 2px rgba(201, 160, 79, 0.4);
  transform: translate(0, -2px);
}
form .invalid {
  border: 1px solid red;
}
form input::placeholder,
form textarea::placeholder {
  font-family: inherit;
  font-style: italic;
  font-size: 1.3rem;
  color: #d0ad67;
}
form textarea {
  height: 100px;
  margin-bottom: 30px;
  resize: none;
}
form div {
  display: flex;
  align-items: center;
}
form div img {
  width: 50px;
  display: none;
}
form button {
  margin-top: 0;
}
form p {
  color: #fff;
}

@media (max-width: 1100px) {
  .aboutImg img {
    width: 100%;
  }

  .aboutInfo {
    flex-direction: column;
    align-items: center;
  }

  .aboutText {
    width: 100%;
    margin-top: 70px;
  }

  .aboutImg {
    width: auto;
    margin-right: 0;
  }
  .aboutImg .abirPicBorder::before {
    width: 100%;
  }

  .skillsList li {
    width: calc(100% / 4);
  }

  .bodyWrapper {
    width: 78%;
  }

  .projects {
    flex-direction: column;
  }

  .projectImg {
    margin-bottom: 60px;
  }

  .projectInfo {
    width: 100%;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 6.5rem;
  }

  .shadow {
    font-size: 9rem;
    top: 60px;
  }

  header .hamburger {
    display: flex;
  }

  header ul {
    position: absolute;
    left: 0;
    top: -1000px;
    height: calc(100vh - 64px);
    width: 100%;
    background-color: black;
    transition: top 1s;
    display: block;
  }

  header nav {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .displayHamburger {
    top: 64px;
  }

  .theActive {
    color: #c9a04f;
    background-color: transparent;
  }

  header {
    background-image: url("../assets/mobileBg.jpg");
    background-size: contain;
    background-repeat: repeat;
  }
  header .headerBottom {
    padding-top: 0;
    padding-left: 0;
    justify-content: center;
  }
  header .headerBottom h1 {
    transform: rotateY(0deg);
  }
  header .headerBottom h1 a {
    transform: translateZ(0);
  }

  .skillsList li {
    width: calc(100% / 3);
  }

  .projectTypes ul {
    flex-wrap: wrap;
  }
  .projectTypes ul li {
    width: 50%;
    text-align: center;
  }
  .projectTypes ul li a {
    width: 100%;
  }

  .contact {
    flex-direction: column;
  }

  form {
    width: 100%;
  }

  .contactInfo {
    width: 100%;
  }

  .skillsList li {
    width: calc(100% / 4);
  }

  .contactInfo h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 510px) {
  .bodyWrapper,
.headerWrapper {
    width: 85%;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 4.5rem;
  }

  .shadow {
    font-size: 5.3rem;
    top: 40px;
  }

  h3 {
    font-size: 5.5rem;
  }

  .skillsList li {
    width: calc(100% / 2);
  }

  .projectTypes ul li {
    width: 100%;
  }

  .projects {
    padding: 10px;
  }

  .tools {
    flex-direction: column;
  }

  .projectInfo h4 {
    margin-bottom: 20px;
  }

  .projectImg {
    width: 100%;
  }
}